@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500,600,700&display=swap&subset=cyrillic");
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  --color-text: #fff;
  --color-bg: #0e0e0f;
  --color-link: #826437;
  --color-link-hover: #fff;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: 'Cormorant Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

#gl {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
}

#header {
  position: relative;
}

#nav {
  position: absolute;
  padding: 10px 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav .logo img {
  width: 200px;
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin: 0 20px;
}

.navbar-list li a {
  background: -webkit-linear-gradient(#ECBF50, #E18B23, #ECBF50, #E18B23, #E8B12B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

.navbar-list li a::after {
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 0;
  content: "";
  position: absolute;
  left: 0;
  top: 30px;
  height: 1px;
  background: #E8B12B;
}

.navbar-list li a:hover::after {
  width: 100%;
}

.header-text {
  position: absolute;
  right: 75px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-text h2 {
  font-size: 28px;
  background: -webkit-linear-gradient(20deg, #ECBF50, #E18B23, #ECBF50, #E18B23, #E8B12B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-text h2 span {
  text-transform: uppercase;
  font-size: 24px;
}

.header-text button {
  margin: 40px auto 0;
  text-align: center;
  background: none;
  border: 1px solid #E18B23;
  padding: 8px 40px;
  font-size: 20px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(20deg, #ECBF50, #E18B23, #ECBF50, #E18B23, #E8B12B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.header-text button:hover {
  background: #E18B23;
  color: #fff;
  -webkit-background-clip: none;
  -webkit-text-fill-color: #eee;
  -webkit-transition: all .1s;
  transition: all .1s;
  font-weight: 500;
}

.social-icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  bottom: 20px;
  right: 75px;
}

.social-icon li {
  margin: 0 10px;
}

.social-icon li img {
  height: 20px;
}
/*# sourceMappingURL=style.css.map */